body {
  margin: 0;
  background-color: #fff;
  font-family: "poppins";
  font-size: 0.9375rem;
  color: hsl(234, 12%, 34%);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
}

p{
    font-size: 1.3rem;
}

img {
  margin: 0;
  border: 1px solid #777;
  width: 90%;
}

li{
    margin-bottom: 0.8rem;
}
.nav-icon a {
  color: #ccc;
}
.nav-icon a:hover {
  text-decoration: none;
  color: #777;
}

/* navbar section */
#nav-section {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1030;
}

.navbar {
  padding: 1rem 1.5rem;
}

.brand {
  color: #fff;
  padding: 0;
  margin: 0 1rem;
  font-size: 2rem;
  font-family: "pacifico";
}

.nav-icon {
  padding: 0.3rem;
  color: #ccc;
}

.nav-icon2{
  padding: 0.417rem;
}


.bar {
  height: 0.5rem;
  background: rgb(2, 40, 255);
  background: -moz-linear-gradient(
    90deg,
    rgba(2, 40, 255, 1) 0%,
    rgba(112, 9, 121, 1) 32%,
    rgba(158, 50, 143, 1) 67%,
    rgba(252, 0, 0, 1) 95%
  );
  background: -webkit-linear-gradient(
    90deg,
    rgba(2, 40, 255, 1) 0%,
    rgba(112, 9, 121, 1) 32%,
    rgba(158, 50, 143, 1) 67%,
    rgba(252, 0, 0, 1) 95%
  );
  background: linear-gradient(
    90deg,
    rgba(2, 40, 255, 1) 0%,
    rgba(112, 9, 121, 1) 32%,
    rgba(158, 50, 143, 1) 67%,
    rgba(252, 0, 0, 1) 95%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#0228ff",endColorstr="#fc0000",GradientType=1);
  position: relative;
  z-index: 1;
}

.nav2 {
  background-color: #fff;
  position: relative;
  top: 6.25rem;
}

.nav-listitem {
  margin: 0 1rem;
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 12.3px 17.9px rgba(0, 0, 0, 0.072), 0 1.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);
}

.nav-anchor {
  color: #000;
  font-family: "Open Sans";
  font-weight: 600;
}

/* body-section */

#body-section {
  margin-top: 0%;
  padding: 5% 7% 0;
  position: relative;
  top: 100px;
  text-align: left;
}

.big-header{
    font-weight: 700;
}

.card-title{
    font-weight: 600;
   
}
.card-text{
    font-size: 1rem;
}


.h-rule{
  height: 0.2rem;
  margin-top: 5%;
}

.nav-link{
  color: #777;
  font-weight: 600;
}


.back-btn{
  position: absolute;
  right: 2rem;
}

.hide1{
  display: none;
}
.container1{
    text-align: center;
    font-size: 1rem;
    
}


/* footer */
footer {
  padding: 2% 20%;
  margin-top: 3%;
  text-align: center;
}

.footer-text{
  font-size: 1rem;
}

/* effects */
.effect1 {
  -webkit-box-shadow: 0 10px 6px -6px #777;
  -moz-box-shadow: 0 10px 6px -6px #777;
  box-shadow: 0 5px 6px -2px #777;
}

/* mobile */

/* MOBILE DESIGN */


/* small laptops */

@media(min-width:992px) and (max-width:1024px){

  #title-section{
     padding: 5% 20% 3.75%;
  }

 
}

/* tablets */


@media (min-width: 768px) and (max-width:992px) {

  .brand{
    font-size: 1.9rem;
  }

  .navbar{
    padding: 0.8rem 1.3rem;
  }
  
#title-section{
  padding: 4% 16% 3.75%;
}

.hide2{
  display: none;
}

.hide1{
  display: block;
}

.big-header{
  font-size: 1.875rem;
}
.big-heading{
  font-size: 1.3rem;
}

.card-title{
  font-size: 1.1rem;
}

}


@media(min-width:426px) and (max-width:767px){

.hide2{
  display: none;
}

.hide1{
  display: block;
}

#title-section{
  padding: 4% 10% 3.75%;
}

.navbar{
  padding: 0.7rem 1.1rem;
}

.brand{
  font-size: 1.75rem;
  margin: 0 auto ;
}

.big-header{
  font-size: 1.675rem;
}
.big-heading{
  font-size: 1.1rem;
}


.hide3{
  display: none;
}

.card-text,li{
  font-size: 0.9rem;
}

.card-title{
  font-size: 1.2rem;
}
}


/* mobiles */

@media (min-width: 0px) and (max-width: 425px) {


.hide2{
  display: none;
}

.hide1{
  display: block;
}

#title-section{
  padding: 4% 10% 3.75%;
}

.navbar{
  padding: 0.7rem 1.1rem;
}

.brand{
  font-size: 1.75rem;
  margin: 0 auto ;
}

.big-header{
  font-size: 1.6rem;
}

.big-heading{
  font-size: 1.025rem;
}


.hide3{
  display: none;
}

.card-text,li{
  font-size: 0.825rem;
}

.card-title{
  font-size: 1.125rem;
}

}